<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <machineKey decryption="AES" decryptionKey="989670946BAD23D7B50F756B59FEF3323C4F911AFCE239A636A224EC53E79FCF" validation="HMACSHA256"
    validationKey="1E5293CD9CF3B0D5A6B6BC65C502758D4B07E0CD139E609136EFF45C228D724CF9A48F7ADADAF0D38A41E343579C4F933D9E0B868CF708C868D79BCEE5941649" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>