<?xml version="1.0"?>
<configuration>
  <location path="MembersOnly.aspx">
    <system.web>
      <authorization>
        <deny users="StaffUser1"/>
        <deny users="StaffUser2"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Staff.aspx">
    <system.web>
      <authorization>
        <allow users="StaffUser1"/>
        <allow users="StaffUser2"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Staff1.aspx">
    <system.web>
      <authorization>
        <allow users="StaffUser1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Staff2.aspx">
    <system.web>
      <authorization>
        <allow users="StaffUser2"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
